<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Email</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .header { color: #2c3e50; }
        .footer { color: #7f8c8d; font-size: 0.8em; }
    </style>
</head>
<body>
<h1 class="header">Welcome, <span th:text="${username}">User</span>!</h1>
<p>Thank you for registering with our service.</p>

<div class="footer">
    <p>Need help? Contact <span th:text="${supportEmail}">support</span></p>
<!--    <p th:text="'© ' + #temporals.format(#temporals.createNow(), 'yyyy') + ' Your Company'"></p>-->
    <p th:text="${'© ' + #temporals.format(#temporals.createNow(), 'yyyy') + ' Your Company'}"></p>
</div>
</body>
</html>